* {
    box-sizing: border-box;
}

/*css header */
header{
    background-color: #333333;
    margin: 0px;
    height: 85px;
}
div.logo >a>img{
    width: 190px;
    margin-top: 15px;
    margin-left: 200px;
}
div.author>img{
    width: 190px;
    margin-left: 870px;
    margin-top: -90px;
}
h3.phone{
    font-size: 15px;
    margin-left: 1100px;
    margin-top: -67px;
}
h3.phone>a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif !important;

}
h3.phone>a>i{
    margin: 5px;
}
h3.address{
    font-size: 15px;
    margin-left: 1220px;
    margin-top: -33px;
}
h3.address>a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif !important;
    color: #ffffff;
}
h3.address>a>i{
    margin: 5px;
}

/*CSS NAV*/
nav{
    background-color: #111111;
    margin: 0px;
}
ul.content {
    list-style-type: none;
    background-color: #111111;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin-right:50px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;

}

ul.content>li {
    min-width: 120px;
    position: relative;
    z-index: 999;
}

ul.content>li>a {
    text-decoration: none;
    color: #FFFFFFD1;
    padding: 10px;
    display: block;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

ul.content>li>a:hover {
    background-color: #333333;
    transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
    -webkit-transition: ease-in 0.2s;
}
/* thành phần*/
.chill{
    background-color: black;
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    text-align: left;
    display: none;
    position: absolute;
}
.chill>li{
    min-width: 185px;
    position: relative;
    z-index: 999;
    margin: 0px;
    border-top: #FFFFFFD1 solid 1px;
}
.chill>li>a{
    padding: 10px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 13px;
    color: #FFFFFFD1;
    border-bottom: 1px solid black;
    display: block;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
/*thuộc tính cụ thể từng thành phần*/
.iphone>li{
    min-width: 130px !important;
}
.ipad>li{
    min-width: 130px !important;
}

.chill>li>a:hover{
    background-color: #333333;
    transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
    -webkit-transition: ease-in 0.2s;
}
.content>li:hover .chill{
    display: block;
    transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -webkit-transition: ease-in 0.3s;
}


/*CSS section*/
div>ul.share {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.share>li {
    position: fixed;
    background-color: #f2f2f2;
    min-width: 131px;
    text-align: right;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 999;
    left: -106px;
    transition: left .5s;
    border-radius: 0 10px 10px 0;
}

ul.share>li:hover {
    left: 0px;
    border-top: 1px solid black;
    transition: all .5s;
}

ul.share>li:nth-child(1) {
    top: 140px;
    border-top: 1px solid black;
}

ul.share>li:nth-child(2) {
    top: 174px;
}

ul.share>li:nth-child(3) {
    top: 207px;
}

ul.share>li:nth-child(4) {
    top: 241px;
}

ul.share>li>a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 3px;
    display: block;
}

/*Css sec3*/
.ss3{
    background-color: white;
    width: 80%;
    margin: 20px auto;
}
.groups {
    width: 100%;
}
.cont{
    font-family:'Roboto', sans-serif;
    font-size: 21px;
    font-weight: bold;
   margin-left: 25px;
}
.light{
    background-color: lightgray;
    height: 1px;
    width: 95%;
    margin: 0 auto;
}

div.member {
    width: 31%;
    margin: 10px 14px;
    float: left;
    border-radius: 15px;
    display: block;
    text-align: center;
    font-size: 23px;
}

.images>img{
    overflow: hidden;
}

.member {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.member:hover {
    font-size: 23px;
    border-radius: 20px;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.member>a {
    color: black;
    text-decoration: none;
}

.member>a:hover {
    text-decoration: none;
    color: black;
}

.images>img {
    width: 90%;
    border-radius: 15px;
}

.caption>h2 {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
}
.caption>h3{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    padding-bottom: 12px;
}